<body>
  <div class="wrapper">
    <ul class="tab">
      <li class="active"><a href="#daily">日</a></li>
      <li><a href="#weekly">週</a></li>
    </ul>
    <div id="daily" class="answers area is-active">
      <canvas id="dailyChart"></canvas>
      <div id="daily-answer-data" style="display:none;"><%= raw @daily_data_json %></div>
      <% @answers.each do |answer| %>
        <div class="answer">
          <h4><%= l answer.created_at %></h4>
          <ul>
            <li><%= "A1, #{t('enums.answer.first_answer_choice.' + (answer.first_answer_choice || 'default'))}" %></li>
            <li><%= "A2, #{answer.second_answer}" %></li>
            <% if answer.third_answer %>
              <li><%= "A3, #{answer.third_answer}" %></li>
            <% else %>
              <li>A3, ー</li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div id="weekly" class="answers area">
      <canvas id="weeklyChart"></canvas>
      <div id="weekly-answer-data" style="display:none;"><%= raw @weekly_data_json %></div>
      <% @answers_weekly.each do |answer| %>
        <div class="answer">
          <h4><%= l answer.created_at %></h4>
          <ul>
            <li><%= "A1, #{t('enums.answer.first_answer_choice.' + (answer.first_answer_choice || 'default'))}" %></li>
            <li><%= "A2, #{answer.second_answer}" %></li>
            <% if answer.third_answer %>
              <li><%= "A3, #{answer.third_answer}" %></li>
            <% else %>
              <li>A3, ー</li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/5-4-1/js/5-4-1.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/app/javascript/application.js"></script>
</body>
