<div class="header">
  <div class="logo"><%= link_to 'Lock In Study', root_path %></div>
  <nav class="navigation">
    <%= link_to '測定', study_records_path %>
    <%= link_to '記録一覧', '#', class: "unimplement" %>
    <%= link_to '時間一覧', study_time_index_path %>
    <%= link_to '回答一覧', answer_index_index_path %>
    <%# link_to '設定/ログアウト', '#' %>
    <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete }  %>
  </nav>
</div>