<div class="header">
  <div class="logo"><%= link_to 'Lock In Study', '#' %></div>
  <nav class="navigation">
    <%= link_to '測定', '#' %>
    <%= link_to '記録一覧', '#' %>
    <%= link_to '時間一覧', '#' %>
    <%= link_to '回答一覧', '#' %>
    <%= link_to '設定/ログアウト', '#' %>
  </nav>
</div>