<div class="main-content">
  <%= image_tag "drone.png", width:430, height:240 %>
    <h1>あなたが集中して学習出来るように<br>サポートします</h1>
    <% if logged_in? && !current_user.guest? %>
      <%= button_to '測定', study_records_path, method: :get, class: 'try-button' %>
    <% else %>
      <%= button_to '使ってみる', guest_login_path, method: :post, class: 'try-button' %>
    <% end %>
    <div class="explanation">
      <div class="how_to_use">
        <h3>基本の使い方、今sourcetreeを使用してみた</h3>
        <p>
        ・スタートボタンを押して学習を開始<br>
        ・測定中に質問が投げかけられたら回答してください<br>
        ・勉強が完了したらストップボタンで測定終了
        </P>
        <%= image_tag "how_to_use.gif", width: '50%' %>
      </div>
      <div class="after_login">
        <h3>ログインすると</h3>
        <p>
          過去の勉強時間と回答の確認ができます。<br>
          勉強中の傾向の確認、改善に役立ちます。
        </P>
        <%= image_tag "after_login.gif", width: '50%' %>
      </div>
      <% if logged_in? && !current_user.guest? %>
      <div class="line_bot">
        <p>
          下のQRコードを読み込むと質問回答タイミングでLINEでの通知もできます。
        </p>
        <%= image_tag "line.jpeg", width: '25%' %>
        <%= image_tag "line_bot_qr.png", width: '20%' %>
      </div>
      <% end %>
    </div>
    <% if logged_in? && !current_user.guest? %>
      <%= button_to '測定', study_records_path, method: :get, class: 'try-button' %>
    <% else %>
      <%= button_to '使ってみる', guest_login_path, method: :post, class: 'try-button' %>
    <% end %>
</div>
