<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
  <head>
    <title>LockInStudy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag('drone.ico') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta property="og:title" content="勉強中の集中力持続を支援するアプリ | Lock In Study">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.lockinstudy.com">
    <meta property="og:image" content="https://www.lockinstudy.com/assets/drone.png">
    <meta name="twitter:card" content="summary">
    <meta property="og:site_name" content="Lock In Study">
    <meta property="og:description" content="勉強中に聞かれる質問に答えることで集中力を保ち、勉強内容の理解を深めることができるアプリです。">
  </head>

  <body>
  <% if logged_in? && !current_user.guest? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
